@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modal styles */
.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

/* Button styles */
.add-image-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: #1d4ed8;
    color: white;
    padding: 0.5rem;
    border-radius: 9999px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease-in-out;
}

.add-image-button:hover {
    background-color: #1e40af;
}
